@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
/* Custom Properties */
:root{
    --clr-neutral: #ffffff;
    --clr-background: #d6e2f0;
    --clr-textMuted: #7b879d;
    --clr-heading: #1f3251;

    --padding-400: 20px;
    --padding-500: 30px;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

/* Utility Classes */
.bgcolor-neutral{
    background-color: var(--clr-neutral);
}
.color-heading{
    color: var(--clr-heading);
}
.bgcolor-background{
    background: var(--clr-background);
}
.muted{
    color: var(--clr-textMuted);
}

.fs-body{
    font-size: 15px;
}
.fw-body{
    font-weight: 400;
}

/* CSS */
section{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: 340px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 5px 10px 15px 5px rgba(165, 165, 165, 0.171);
}
.img{
    /* margin: 20px; */
    width: 300px;
    height: 300px;
    border-radius: 15px;
    background: url(./image-qr-code.png);
    background-size: contain;
}
h3{
    font-size: 22px;
    padding: 20px 10px;
}
p{
    padding: 20px;
    padding-top: 0;
}